<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <div class="page-break"></div>
    <div>&nbsp;</div>
    <div class="grid page-break">
        <img src="./Img/image0date.jpg" alt="Image 1">
        <img src="./Img/image1date.jpg" alt="Image 2">
        <img src="./Img/image2date.jpg" alt="Image 3">
        <img src="./Img/image3date.jpg" alt="Image 4">
    </div>
    <div>&nbsp;</div>
    <div class="grid">
        <img src="./Img/image0.jpg" alt="Image 1">
        <img src="./Img/image1.jpg" alt="Image 2">
        <img src="./Img/image2.jpg" alt="Image 3">
        <img src="./Img/image3.jpg" alt="Image 4">
    </div>
</body>
</html>